.PlayerBar {
  position: relative;
  height: 1rem;
  width: 100%;
  height: 1rem;
  background: var(--color-white);
  transform: translateY(-50%);
  cursor: pointer;
  transition: transform 200ms ease-out;
}

.PlayerBar:hover {
  transform: translateY(-50%) scaleY(2);
}

.PlayerBar::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: var(--color-smoke);
  opacity: 0.1;
}

.PlayerBar__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--color-smoke);
  cursor: pointer;
}

.PlayerBar__progress--current {
  opacity: 0.6;
}

.PlayerBar__progress--scrub {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.PlayerBar:hover .PlayerBar__progress--scrub {
  opacity: 1;
}
