.App {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.App__header {
  padding: var(--padding-double);
}

.App__header-name {
  font-weight: 900;
  font-size: 30px;
  margin: 0 var(--padding-double) var(--padding-double) var(--padding-double);
}

.App__header::after {
  display: block;
  content: '';
  border: 1px solid var(--main-text-color);
  margin-top: var(--padding-double);
}

.App__content {
  display: flex;
  padding: var(--padding-double);
}
