.App {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr;
}

.App__header {
  padding: var(--padding-double) var(--padding-double) 0;
}

.App__header-name {
  font-size: 3rem;
  margin: 0 var(--padding-double) var(--padding-double) var(--padding-double);
}

.App__header::after {
  display: block;
  content: '';
  border: 1px solid var(--main-text-color);
  margin-top: var(--padding-double);
}

.App__content {
  display: flex;
  overflow: hidden;
}
