.App {
  flex: 1;
}

.App__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--app-header-height);
  display: flex;
  align-items: center;
  color: var(--color-white);
  background: var(--color-smoke);
  padding: 0 var(--padding-quadruple);
  box-shadow: var(--ui-box-shadow);
  z-index: var(--z-index-1--app-header);
}

.App__header-name {
  font-size: 2rem;
  letter-spacing: 0.3em;
  line-height: 1;
  text-decoration: none;
}

.App__content {
  padding: var(--app-header-height) 0;
}

.App__player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
