.EpisodeListPage {
  display: flex;
}

.EpisodeListPage__sidebar {
  padding: var(--padding-double);
  width: 300px;
}

.EpisodeListPage__sidebar-img {
  width: 100%;
  margin-bottom: var(--padding-double);
}

.EpisodeListPage__sidebar-heading {
  margin-bottom: var(--padding-double);
}

.EpisodeListPage__content {
  flex: 1;
  padding: var(--padding-double);
}

.EpisodeListPage__entry-list {
  list-style: none;
}

.EpisodeListPage__entry:not(:last-child) {
  margin-bottom: calc(var(--padding-double) * 2);
}

.EpisodeListPage__entry-heading {
  font-size: 1.5em;
  padding-bottom: var(--padding-double);
}

.EpisodeListPage__entry-meta {
  font-size: 0.75em;
  padding-bottom: var(--padding-double);
}

.EpisodeListPage__entry-summary {
  line-height: 1.4;
}
