.EpisodeMetadataPanel__heading {
  padding-bottom: var(--padding-double);
}

.EpisodeMetadataPanel__heading:not(:first-child) {
  padding-top: var(--padding-double);
}

.EpisodeMetadataPanel__subtext {
  padding-bottom: var(--padding-double);
}
